html,body {
    margin:0;
    padding: 0;
    font: 12px/24px Arial;
}

p {

    padding: 10px;
}

#wrap {
    position: relative;
    padding: 20px;
}

.caPlayer {
    height: 43px;
    position: relative;
    display: block;
}

.caPlayer i {
    display: block;
    text-decoration: none;
}

.caPlayer .ps {
    width: 68px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
}

.caPlayer .next, .caPlayer .prev {
    display: none;
    height: 43px;
    width: 18px;
    float: left;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.caPlayer .next {
    background: url("../imgs/nextBlack.gif");
    left: 86px;
}

.caPlayer .prev {
    background: url("../imgs/prevBlack.gif");
    left: 68px;
}

.caPlayer .next:hover {
    background: url("../imgs/next.gif");
}

.caPlayer .prev:hover {
    background: url("../imgs/prev.gif");
}

.caPlayer .vol {
    width: 50px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.caPlayer .vol .bar {
    height: 17px;
    width: 30px;
    position: absolute;
    top:13px;
    left: 10px;
    overflow: hidden;
}
.caPlayer .vol .bar i{
    width: 2px;
    height: 17px;
    float: left;
    margin-left: 2px;
}

.caPlayer .progress {
    height: 100%;
    margin: 0 50px 0 68px;
    position: relative;
}

.caPlayer .vol {
    background: url("../imgs/volumeBasic.gif") 1px 0;
}

.caPlayer .progress .bar {
    height: 7px;
    background: #1c1c1c;
    top: 18px;
    margin: 0 35px;
    position: relative;
}

.caPlayer .progress .bar .barLoading{
    height: 1px;
    top: 3px;
    background: #3e3e3e;
    position: absolute;
    width: 0;
    z-index: 1;
}

.caPlayer .progress .bar .barPlaying{
    height: 3px;
    top: 2px;

    position: absolute;
    width: 0;
    z-index: 5;
}

.caPlayer .progress .bar .barPlaying i{
    width: 2px;
    height: 7px;
    background: #ffffff;
    position: absolute;
    top: -2px;
    right: -1px;
}

.caPlayer .progress .currentTime,.caPlayer .progress .totalTime  {
    position: absolute;
    top:0;
    width: 25px;
    font: bold 10px/43px Arial;
    text-align: right;
    color: #ffffff;
}

.caPlayer .progress .currentTime{
    left: 5px;
}

.caPlayer .progress .totalTime {
    right: 5px;
}

.caPlayer .ps.black.paused {
    background: url("../imgs/play.gif") no-repeat;
}

.caPlayer .ps.black.played {
    background: url("../imgs/pause.gif") no-repeat;
}

.caPlayer .paused {
    background: url("../imgs/playWhite.gif") no-repeat;
}

.caPlayer .played {
    background: url("../imgs/pauseWhite.gif") no-repeat;
}



#playlist {
    background: #EBEBEB;
    margin-bottom: 20px;
}

#playlist .song {
    display: block;
    clear: both;
    height: 26px;
    padding: 5px 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid whiteSmoke;
}

#playlist .song .index {
    font: normal 23px 'BebasNeueRegular', Arial;
    color: #414039;
}

#playlist .song .title {
    overflow: hidden;
    text-align: left;
    color: #E2E2E2;
    width: 350px;
    padding-right: 0;
    height: 31px;
}

#playlist .song .title a {
    font: bold 12px Arial, Verdana;
    color: #1C1C1C;
}

#playlist .song .spacer {
    clear: both;
    height: 0;
}

#playlist .song div {
    color: #5F5F5F;
    float: left;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    background: transparent none;
}

#playlist .song.play {
    background-color: black;
}

#playlist .song.play {
    background: black;
    border-bottom: 1px solid gray;
}

#playlist .song.play .index {
    color: white;
}

#playlist .song.play .title a {
    color: white;
}

/* Default Skin */
/* Basic color */
.caPlayer .paused,
.caPlayer .progress .bar .barPlaying,
.caPlayer .played,
.caPlayer .vol .bar  {
    background-color: #ff8a00;
}

/* Volume Color */
.caPlayer .vol .bar i, .caPlayer .vol {
    background-color: #5a584f;
}

/* Main Background */
.caPlayer {
    background-color: #393933;
}

/* Hover Background Color */
.caPlayer .paused:hover, .caPlayer .played:hover {
    background-color: #000000;
}

/* Text Color Duration */
.caPlayer .progress .currentTime,.caPlayer .progress .totalTime {

}